*   @massimotisi

/src/abstraction/eq1Producteur1/    @CACAO-2023/eq1Producteur1
/src/abstraction/eq2Producteur2/    @CACAO-2023/eq2Producteur2
/src/abstraction/eq3Producteur3/    @CACAO-2023/eq3Producteur3
/src/abstraction/eq4Transformateur1/    @CACAO-2023/eq4Transformateur1
/src/abstraction/eq5Transformateur2/    @CACAO-2023/eq5Transformateur2
/src/abstraction/eq6Transformateur3/    @CACAO-2023/eq6Transformateur3
/src/abstraction/eq7Distributeur1/    @CACAO-2023/eq7Distributeur1
/src/abstraction/eq8Distributeur2/    @CACAO-2023/eq8Distributeur2
/src/abstraction/eq9Distributeur3/    @CACAO-2023/eq9Distributeur3

/src/abstraction/eqXRomu/    @romualdDebruyne
