*   @massimotisi

/src/abstraction/eq1Producteur1/    @CACAO-2023/eq1producteur1
/src/abstraction/eq2Producteur2/    @CACAO-2023/eq2producteur2
/src/abstraction/eq3Producteur3/    @CACAO-2023/eq3Producteur3
/src/abstraction/eq4Transformateur1/    @CACAO-2023/eq4transformateur1
/src/abstraction/eq5Transformateur2/    @CACAO-2023/eq5transformateur2
/src/abstraction/eq6Transformateur3/    @CACAO-2023/eq6transformateur3
/src/abstraction/eq7Distributeur1/    @CACAO-2023/eq7distributeur1
/src/abstraction/eq8Distributeur2/    @CACAO-2023/eq8distributeur2
/src/abstraction/eq9Distributeur3/    @CACAO-2023/eq9distributeur3
/src/abstraction/eq8Romu/    @romualdDebruyne
